{% extends 'base.html.twig' %}

{% block title %}Reservated{% endblock %}

{% block body %}
    <div class="container centering h-100">
        <div class="window">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center mb-3">Reservations</h1>
                </div>
                <div class="col-6">
                    {{ result }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}